ul {
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: #fff;
}
ul li{
    flex: 1;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
li.active{
    color: red;
}

.cineam{
    padding-bottom: 50px;
}
dl{
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}
dt, dd{
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 25px;
}
